<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="libs/animate/animate.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    title Document
body
    .container-fluid
     .row 
        header.site-header
            .col-sm-12
                .container
                    .row
                      nav.col-sm-4.col-xs-6
                        .site-header__icon(src="./img/avatar.jpg")
                      .col-sm-4
                        .site-header__wrapper
                            .site-header__fullname.animated.bounceInLeft Daniil Vereschagin 
                            .site-header__position.animated.bounceInRight Web developer
                      .col-sm-4
                        .site-header__wrapper
                             .site-header__contacts
                                ul
                                    li.animated.rollIn Kaliningrad
                                    li.animated.rollIn vereshhagin98@mail.ru
                                    li.animated.rollIn +7(952)-796--11--99
        main.main-content
            .container
                .row
                    .col-sm-4
                        section.about
                            img.about__img.animated.rotateIn(src="img/portfolio.png")
                            .about__title Profile Info
                            .about__text Hello! I'm a beginner developer and created this site-resume so that you can quickly see all my skills and skills in one place
                            img.about__img.animated.rotateIn(src="img/portfolio.png")
                            .about__title Interests 
                            .about__wrapper
                                img.about__icon.center-block.animated.rotateIn(src="img/interests.png")
                            img.about__img.animated.rotateIn(src="img/portfolio.png")
                            .about__title Reference
                            .about__wrapper
                                .about__text.text-center July 2016- August 2017 
                                .about__text--purple.text-center|Storekeeper
                                 br
                                .about__text.text-center 2017-Present 
                                .about__text--purple.text-center|Web-Developer
                            img.about__img.animated.rotateIn(src="img/portfolio.png")
                            .about__title Awards
                            .about__wrapper
                                .about__text.text-center Oleg Vidyakin's courses on AS3 -2013
                                .about__text.text-center Courses DRV programming
                          
                    .col-sm-4
                        section.about.about--nob
                            img.about__img.animated.rotateIn(src="img/portfolio.png")
                            .about__title Work Experince
                            .about__text.text-center March 2017-Present
                            .about__text--purple.text-center| Frontend Developer
                            .about__text--bold.text-center OldBoy
                            .about__text.text-center April 2017-Present
                            .about__text--purple.text-center| Frontend Developer
                            .about__text--bold.text-center WebDrive
                            .about__text.text-center July 2016- March 2017
                            .about__text--purple.text-center| Storekeeper
                            .about__text--bold.text-center Trans Starter
                            .about__wrapper
                                img.about__img.animated.rotateIn(src="img/education.png")
                                .about__title Education
                                .about__text--bold.text-center -2016-2021 KGTU 
                    
                            
                        
                           
                    .col-sm-4        
                            .about__description.text-center.animated.bounceInRight  I'm engaged in frontend part of projects of barberwild.com.My stack technology-Gulp,Sass
                            .about__description.text-center.animated.bounceInRight  I'm engaged in frontend part of projects of barberwild.com.My stack technology-Gulp,Sass
                            .about__description.text-center.animated.bounceInRight  I'm engaged in frontend part of projects of barberwild.com.My stack technology-Gulp,Sass
                            
                    .col-sm-8.col-xs-12
                            img.about__img.animated.rotateIn(src="img/skills.png") 
                            .about__title.text-left Professionals Skills
                            .about__skills.text-center
                                ul.about__skills
                                    li: span.lines(data-count=83) 83
                                    li: span.lines(data-count=74) 74
                                    li: span.lines(data-count=76) 76
                                    
                                    
    script(src="https://code.jquery.com/jquery-3.2.1.js")       
    script(src="./libs/animateNumber/jquery.animateNumber.min.js")       
    script(src="./scripts/App.js")

                            
                            



                            
                            
                             
  



